.noClick {
    pointer-events: none;
    color: #a3a1a1;
 }
.categories__header{
    text-align: center;
    padding: 10px 0;
    background: url("https://cdn.shopify.com/s/files/1/0076/1708/5530/collections/Image_14_1512x.jpg?v=1626586050") no-repeat center;
}
.categories__header .categories-name {
    font-weight: 800;
    margin-top: 10px;
}  
.categories__header .home-link {
    text-decoration: none;
    color: #eb7025;
}
.categories__content .config {
    padding-left: 20px;
} 
.categories__content .config-layout {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 20px;
} 
.categories__content .config-filter #filterProduct {
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px #e9ecef solid;
} 
.categories__content .config-filter #filterLabel {
    font-size: 1rem;
} 

.categories__content .config-layout button {
    outline: none;
    border: none;
    background: none;
    transition: .4s;
    font-size: 1.5rem;
} 

.categories__content .config-layout button:hover .noClick {
    color: #eb7025;
} 
.categories__content .config-layout button:focus .noClick {
    color: #eb7025;
} 
.categories__content .product-list {
    padding: 0 20px;
}
.product-item--layout-transition {
    transition: all .5s;
}
.product-info {
    padding: 5vh 2vh;
    text-align: center;
}
.product-info img {
    filter: grayscale(0);
    display: block;
    width: 100%;
    height: auto;
    transition: filter .5s ease-in-out;
    backface-visibility: hidden;
}
.product-info .info-detail {
    margin: 0;
    margin-top: 2vh;
}s
.product-info .info-detail-name {
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;
}
.product-info .info-detail-name:hover {
    color: #eb7025;
}
.product-info .info-detail-price {
    color: #a3a1a1;
    margin: 0;
    font-size: 1rem;
}
.product-action--action{
    position: relative;
}
.action-cart {
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity .7s;
}
.product-action--action:hover img {
    filter: grayscale(100%);
}

.product-action--action:hover .action-cart {
    opacity: 1;
}
.add-cart {
    background-color: #04aa6d;
    color: white;
    font-size: 16px;
}

