.footer {
    background: #212529;
    color: #fff;
    padding: 5vh 0 0;
} 
.footer-contact-detail{
    list-style: none;
    padding: 0;
}
.collections-link {
    color: #fff;
    transition: all .4s;
}
.collections-link:hover {
    color: #eb7025;
    text-decoration: none;
} 