.navbar{
    background: #f46164;
}
.header-content .top-search .search .form-search .form-search-controls input {
    margin-right: -1px;
    width: 70%;
    border: 1px solid #dedede;
    border-radius: 0;
    color: #454545;
    height: 40px;
    padding: 5px;
}
.header-content .top-search {
    margin-top: 20px;
}
.header-content .top-cart .cart .heading a {
    display: block;
    height: 43px;
    line-height: 70px;
}