.review-title{
    font-size: 1.5rem;
    text-align: center;
}
.user-review{
    border: 1px solid #d6d3d3 ;
    background: #ffeee8;
}
.btnCmt-review{
    padding-bottom: 5%;
}
.btnCmt{
    background: #000000;
    font-size: 1.1rem;
    border: none;
    color: #fff;
    padding: 1% 1%;
    margin: auto 1%;
    transition: 1.2s;
}
.btnReview{
    background: #000000;
    font-size: 1.1rem;
    border: none;
    padding: 1% 1%;
    color: #fff;
    transition: 1.2s;
}
.btnCmt-review{
    text-align: center;
}
.btnCmt:hover{
    background: #eb7025;
}
.btnReview:hover{
    background: #eb7025;
}
