.search-page {
    display: block !important;
    padding: 0;
}

.search-page__content {
    padding: 0 20px;
}

.noClick {
    pointer-events: none;
    color: #a3a1a1;
}

.search__header {
    text-align: center;
    padding: 20px 0;
}

.search__header .home-link {
    text-decoration: none;
    color: #eb7025;
}
.search__body .search-title {
    font-size: 3rem;
    font-weight: 700;
}
.search__body .search--result-nof {
    color: #a3a1a1;
    font-size: 1.3rem;
}
.search__body .search--result-nof span {
    font-weight: 600;
}
.product-item--layout-transition {
    transition: all 0.5s;
}
.product-info {
    padding: 5vh 2vh;
    text-align: center;
}
.product-info img {
    filter: grayscale(0);
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.5s ease-in-out;
    backface-visibility: hidden;
}
.product-info .info-detail {
    margin: 0;
    margin-top: 2vh;
}
.product-info .info-detail-name {
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;
    color: #000;
    text-decoration: none;
}
.product-info .info-detail-name:hover {
    color: #eb7025;
}
.product-info .info-detail-price {
    color: #a3a1a1;
    margin: 0;
    font-size: 1rem;
}
