.trending-product-info{
    padding: 5vh 2vh;
    text-align: center;
}
.trending-product-info img {
    width: 100%;
    height: auto;
}
.trending-product-info .info-detail {
    margin: 0;
    margin-top: 2vh;
} 
.trending-product-introduce{
    text-align: center;
}
.trending-product-introduce p{
    color: #a3a1a1;
}
.trending-product-info .info-detail-name {
    font-size: 1rem;
    font-weight: 500;
} 
.trending-product-info .info-detail-price{
    color: #a3a1a1;
    margin: 0;
}