.trending-categories {
    margin-top: 5rem;
    padding: 0 20px;
}
.trending-categories-introduce {
    text-align: center;
}
.trending-categories-info {
    position: relative;
    margin-bottom: 2rem;
    padding: 50px;
}

.trending-categories-info:hover .trending-category-product-img {
    transform: scale(1.1);
}

.trending-categories-info .trending-category-product-img {
    width: max-content;
    transition: transform 0.5s, filter 0.5s ease-in-out;
}

.categories-img--zoom {
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.img-hover-zoom .trending-category-product-img {
    transition: transform 0.5s ease;
}

.trending-categories-info .info-detail {
    margin-top: 20px;
}
.trending-category-title {
    font-size: 1.5rem;
    transition: 0.5s;
    color: #000;
}

.trending-category-title:hover {
    color: #000;
    text-decoration: none;
}

.trending-category-product-title {
    padding-right: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.5s;
    color: #000;
    display: inline-block;
}

.trending-category-product-title:hover {
    text-decoration: none;
    color: #eb7025;
}

@media screen and (max-width: 768px) {
    .trending-categories-info {
        padding: 20px 0;
    }
}
